*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/local.properties
/build
*/build
/captures
xcuserdata/
Pods/
**/build/
!src/**/build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.idea/
build/
out/
/build/
/.idea*
*/.idea*
build.gradle
ios/buildConfiguration/.idea/
/.idea/
android/.idea/
android/build/
*/xcuserdata/*
*/xcuserdatad/*
*.generated.swift
*.xcuserstate
*.idea*
_Builds/*
xcodebuild.log
./Pods/*
*/.DS_Store
/iosApp/Pods/
/iosApp/Pods/Target Support Files/
/iosApp/Pods/Target Support Files/Pods-iosApp/
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
/iosApp/iosApp/Info.plist
.kotlin
*/build/
*/out/
*.cache
.settings
.project
.classpath
.vscode
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.build/